.buttonSecction {
  padding: 13px 7px;
  background-color: #440894;
  margin: 40px 20px 20px 20px ;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonSecction:hover {
  background-color: #7D3CE8;
}

.buttonTask{
    padding: 5px 7px;
    background-color: #440894;
    border-radius: 5px;
    border:none ;
    cursor: pointer;
}

.buttonTask:hover {
    background-color:#7D3CE8;
}